---
- name: Install Alacritty terminal emulator https://alacritty.org/
  hosts: localhost
  tasks:
    - name: Install Rust toolchain (cargo)
      shell: |
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      args:
        creates: ~/.cargo/bin/cargo
      when: ansible_facts.os_family == 'Debian'

    - name: Install Alacritty deps (Debian)
      become: yes
      apt:
        name:
          - cmake
          - g++
          - pkg-config
          - libfontconfig1-dev
          - libxcb-xfixes0-dev
          - libxkbcommon-dev
          - python3
        state: present
      when: ansible_facts.os_family == 'Debian'

    - name: Install Alacritty via cargo
      shell: |
        ~/.cargo/bin/cargo install alacritty --locked
      args:
        creates: ~/.cargo/bin/alacritty
      environment:
        PATH: "{{ ansible_facts.env.HOME }}/.cargo/bin:{{ ansible_facts.env.PATH }}"
      when: ansible_facts.os_family == 'Debian'

    - name: Ensure alacritty themes directory exists
      file:
        path: ~/.config/alacritty/themes
        state: directory
        mode: '0755'

    - name: Symlink custom alacritty theme
      file:
        src: ~/Privat/useful_scripts/shell_setup/theme/catppuccin_mocha_custom.toml
        dest: ~/.config/alacritty/themes/catppuccin_mocha_custom.toml
        state: link
        force: yes

    - name: Symlink custom alacritty toml
      file:
        src: ~/Privat/useful_scripts/shell_setup/alacritty.toml
        dest: ~/.config/alacritty/alacritty.toml
        state: link
        force: yes

    - name: Get alacritty icon for desktop entry
      shell: |
        mkdir -p ~/.local/share/alacritty
        wget https://github.com/dfl0/mac-icons/raw/main/alacritty/icons/smooth/alacritty_smooth_full.png -O ~/.local/share/alacritty/icon.png
      args:
        creates: ~/.local/share/alacritty/logo.png

    - name: Create Alacritty desktop file (Debian)
      copy:
        dest: "{{ ansible_facts.env.HOME }}/.local/share/applications/alacritty.desktop"
        mode: '0644'
        content: |
          [Desktop Entry]
          Name=Alacritty
          Comment=Alacritty Terminal Emulator
          Exec={{ ansible_facts.env.HOME }}/.cargo/bin/alacritty
          Icon={{ ansible_facts.env.HOME }}/.local/share/alacritty/icon.png
          Terminal=false
          Type=Application
          Categories=System;TerminalEmulator;
      when: ansible_facts.os_family == 'Debian'

