---
- name: Tmux setup
  hosts: localhost
  tasks:
    - name: Install tmux
      become: yes
      apt:
        name: tmux
        state: present
      when: ansible_facts.os_family == 'Debian'

    - name: Install tmux (Mac)
      homebrew:
        name: tmux
        state: present
      when: ansible_facts.os_family == 'Darwin'

    - name: Install tmux plugin manager (tpm)
      shell: |
        git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
      args:
        creates: ~/.tmux/plugins/tpm

    - name: Ensure ~/.config/tmux directory exists
      file:
        path: ~/.config/tmux
        state: directory
        mode: '0755'

    - name: Symlink custom tmux.conf
      file:
        src: ~/Privat/useful_scripts/tmux/tmux.conf
        dest: ~/.config/tmux/tmux.conf
        state: link
        force: yes

    - name: Install tmux plugins with tpm
      shell: ~/.tmux/plugins/tpm/bin/install_plugins
      args:
        creates: ~/.tmux/plugins/tpm/bin/install_plugins
