---
- name: Neovim setup
  hosts: localhost
  tasks:
    - name: Download latest Neovim AppImage
      shell: |
        mkdir -p ~/.local/bin
        wget -LO ~/.local/bin/nvim https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.appimage
        chmod +x ~/.local/bin/nvim
      args:
        creates: ~/.local/bin/nvim
      when: ansible_os_family == 'Debian'

    - name: Install nvim with brew (Mac)
      homebrew:
        name: nvim
        state: present
      when: ansible_os_family == 'Darwin'

    - name: Ensure nvim config directory exists
      file:
        path: ~/.config/nvim
        state: directory
        mode: '0755'

    - name: Clone kickstart.nvim repo
      git:
        repo: https://github.com/LasseWolter/kickstart.nvim
        dest: ~/.config/nvim
        update: no

    - name: Install ripgrep (required for Telescope)
      become: yes
      apt:
        name: ripgrep
        state: present
      when: ansible_os_family == 'Debian'

    - name: Install common Neovim dependencies (e.g. for clipboard)
      become: yes
      apt:
        name:
          - xclip
          - gcc
        state: present
      when: ansible_os_family == 'Debian'
